@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication2.Models.Student

<h2>Edit Student</h2>

<form asp-action="Update" method="post">

    <input type="hidden" asp-for="Id" />

    <label>Name</label>
    <input asp-for="Name" class="form-control" />
    <br />

    <label>Course</label>
    <input asp-for="Course" class="form-control" />
    <br />

    <label>City</label>
    <input asp-for="City" class="form-control" />
    <br />

    <button type="submit" class="btn btn-primary">
        Update
    </button>

</form>
